<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tochat" translate="label" sortOrder="10">
            <label>ToChat</label>
        </tab>
        <section id="tochat_whatsapp" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Whatsapp</label>
            <tab>tochat</tab>
            <resource>Tochat_Whatsapp::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment><![CDATA[Tutorials, Videos, Demos.. <a href='https://tochat.be/magento-order-notifications-whatsapp/' target="_blank">tochat.be</a>]]></comment>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="order_messages" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Messages</label>
                <field id="new" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New</label>
                </field>
                <field id="processing" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Processing</label>
                </field>
                <field id="canceled" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Canceled</label>
                </field>
                <field id="complete" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Completed</label>
                </field>
            </group>

            <group id="automation" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Notification with Whatsapp API</label>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>if Yes, Don't Forget to assign template to appropriate order status in Template Section. If there is not template in list Please save the config first Or recheck your api key.</comment>
                </field>
                
                <field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Tochat ApiKey</label>
                </field>

                <field id="endpoint" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Endpoint</label>
                </field>

                <group id="template" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp API Templates</label>
                    <field id="new" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>New</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Template</source_model>
                    </field>
                    <field id="processing" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Processing</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Template</source_model>
                    </field>
                    <field id="canceled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Canceled</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Template</source_model>
                    </field>
                    <field id="complete" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Completed</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Template</source_model>
                    </field>

                    <comment><![CDATA[Supported Placeholders: {{1}}=ORDERID, {{2}}=CustomerName, {{3}}=ProductNames, {{4}}=Total.]]></comment>

                </group>

                <group id="abandoned" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recover Abandoned Cart</label>
                    <comment><![CDATA[Supported Placeholders: {{1}}=CustomerName, {{2}}=ProductNames, {{3}}=Total, {{4}}=StoreName]]></comment>

                    <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                        <label>Enable/Disable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="interval" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                        <label>Interval</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Interval</source_model>
                    </field>                    

                    <field id="template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template</label>
                        <source_model>Tochat\Whatsapp\Model\Config\Source\Template</source_model>
                    </field>

                </group>
            </group>

            <group id="widget" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WhatsApp Widget</label>

                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="snippet" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Tochat Widget Code</label>
                </field>
            </group>
        </section>
    </system>
</config>